/* Variables */
:root {
  --font-family: 'Roboto', sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #ffffff;
    --bg-color2: rgb(54, 56, 58);
    --primary-color: #29e6f3;
    --secondary-color: #383737;
    --text-color: rgb(29, 28, 28);
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --color-cream: #f3eee7;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }
  /* Variables end */

  html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }
  body{
    background-color: var(--bg-color);
    color: var(--text-color);

  }

  /* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  section {
    max-width: 1100px;
    margin: auto;
    /* border: 1px solid pink; */
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  
  /* CSS Resets end */

/* Navbar */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    border-bottom: 2px solid var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav h1 {
    color: var(--primary-color);
  }
  nav h4 {
    color: var(--secondary-color);
  }
  #theme{
    display: flex;
    justify-content: space-around;
  }
  #theme button {
      border: none;
    background-color: transparent;
    color: var(--secondary-color);
    padding-left:20px;
    padding-right:20px;
  }
  #theme button:hover {
    color: var(--primary-color) ;
  }
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  nav ul li {
    font-weight: var(--bold-font);
  }
  .nav-deviders{
    color: var(--text-color);
  }
  .burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  /* Navbar ends */

  .sm-section{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 0.5rem 3.5rem;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--bg-color2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  .social-links{
    display: flex;
    gap: 0.5rem;
  }
  .social-links p{
    color: var(--bg-color);
    opacity: 50%;
  }
  .fa {
    color: var(--primary-color);
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
      color: var(--secondary-shadow);
      transition: var(--transition);
  }

.hero {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 65rem;
  padding: 2rem 1rem 1rem 1rem;
  margin-top: 3rem;
}
.logo h1{
  font-size: 10rem;
  text-decoration: underline;
  }
  .logo h2{
    font-size: 2.1rem;
  }
.bio {
  max-width: 1100px;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  letter-spacing: 2px;
}
/* Hero section ends */


.cards{
    width: 200px;
    height: 200px;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

footer{
  position:fixed;
  bottom:0;
  width:100%;
  background-color: var(--bg-color2);
  color: var(--bg-color);
  display: flex;
  justify-content:center;
  padding: 1.5rem;
}
